<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todo" href="/tabs/todo">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>To-do List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="interactive-map" href="/interactive-map">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="incremental-counter" href="/incremental-counter">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Contador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stopwatch" href="/stopwatch">
      <ion-icon aria-hidden="true" name="timer"></ion-icon>
      <ion-label>Cronômetro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>